[submodule "cairo_contracts"]
	path = lib/cairo_contracts
	url = https://github.com/OpenZeppelin/cairo-contracts
[submodule "cairo_lang"]
	path = lib/cairo_lang
	url = https://github.com/starkware-libs/cairo-lang
